body{
     font-family: SoDoSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
     margin: 0;
}
header {
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    background-color: white;
}
.starbucks-logo{
     height: 50px;
     width: 50px;
}
.header-container{
     display: flex;
     flex-direction: row;
     align-items: center;
     position: relative;
}
.logo{
     margin: 20px 35px;
}
.menu-item{
     padding-right: 20px;
     font-size: 15px;
     font-weight: bold;
     cursor: pointer;
     transition: 0.15s;
     text-decoration: none;
     color: black;
}
.menu-item:hover{
     color: #008248;
}
.location-image{
     height: 18px;
     margin-right: 10px;
}
.location{
     margin-right: 10px;
     display: flex;
     transition: 0.15s;
     cursor: pointer;
     align-items: center;
     color: black;
     text-decoration: none;
}
.location:hover  .store-locator{
     color: #008248; 
}
.location:hover .location-image {
     /*  filter to turn a black icon green */
     filter: brightness(0) saturate(100%) invert(36%) sepia(97%) saturate(571%) hue-rotate(121deg) brightness(92%) contrast(91%);

}
.store-locator{
     font-size: 14px;
     font-weight: bold;
     color: black;
     text-decoration: none;
}
.right-header-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 60px;
}
.left-header-section{
     display: flex;
     flex: 1;
     align-items: center;
}
.sign-in-button{
     margin-left: 40px;
     background-color: white;
     border: 1px solid black;
     border-radius: 14px;
     padding: 6px 14px;
     cursor: pointer;
}
.join-button{
     background-color: black;
     border: 1px solid black;
     border-radius: 14px;
     padding: 6px 14px;
     color: white;
     font-weight: bold;
     margin-left: 18px;
     cursor: pointer;
     transition: 0.25s ;
}
.sign-in-button:hover{
     background-color: rgb(245, 243, 243);
}
.join-button:hover{
     background-color: rgba(0,0,0,0.65);

}