body{
     font-family: SoDoSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
     margin: 0;
     height: 4000px;
}
header {
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    background-color: white;
}
.starbucks-logo{
     height: 50px;
     width: 50px;
}
.header-container{
     display: flex;
     flex-direction: row;
     align-items: center;
     position: relative;
}
.logo{
     margin: 20px 35px;
}
.menu-item{
     padding-right: 20px;
     font-size: 15px;
     font-weight: bold;
     cursor: pointer;
     transition: 0.15s;
     text-decoration: none;
     color: black;
}
.menu-item:hover{
     color: #008248;
}
.location-image{
     height: 18px;
     margin-right: 10px;
}
.location{
     margin-right: 10px;
     display: flex;
     transition: 0.15s;
     cursor: pointer;
     align-items: center;
     color: black;
     text-decoration: none;
}
.location:hover  .store-locator{
     color: #008248; 
}
.location:hover .location-image {
     /*  filter to turn a black icon green */
     filter: brightness(0) saturate(100%) invert(36%) sepia(97%) saturate(571%) hue-rotate(121deg) brightness(92%) contrast(91%);

}
.store-locator{
     font-size: 14px;
     font-weight: bold;
     color: black;
     text-decoration: none;
}
.right-header-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 60px;
}
.left-header-section{
     display: flex;
     flex: 1;
     align-items: center;
}
.sign-in-button{
     margin-left: 40px;
     background-color: white;
     border: 1px solid black;
     border-radius: 14px;
     padding: 6px 14px;
     cursor: pointer;
}
.join-button{
     background-color: black;
     border: 1px solid black;
     border-radius: 14px;
     padding: 6px 14px;
     color: white;
     font-weight: bold;
     margin-left: 18px;
     cursor: pointer;
     transition: 0.25s ;
}
.sign-in-button:hover{
     background-color: rgb(245, 243, 243);
}
.join-button:hover{
     background-color: rgba(0,0,0,0.65);
}
.rewards-banner{
    position: fixed;
    background-color: #1e3932;
    color: white;
    left: 0;
    right: 0;
    height: 45px;
}
.rewards-text{
    /* padding-left: 137px; */
    font-size: 14px;
    font-weight: bold;
}
.banner-content{
     margin-left: 140px;
}
main{
    padding-top: 40px;
}
.main-container{
     display: grid;
     grid-template-columns: 1fr 1fr;
}
.coffee-image{
     width: 920px;
     height: 500px;
     object-fit: cover;
     object-position: center;
}
.join-now-grid-left{
     padding-left: 90px;
     padding-top: 50px;
     background-color: #f3f1e7;
}
.free-coffee-text p{
     color: #1e3932;
     font-size: 40px;
     font-weight: bold; 
     width: 400px;  
}
.signup-caption{
     color: #1e3932;
}
.join-now-btn{
     background-color: #008248;
     color: white;
     padding: 8px 16px;
     border: none;
     border-radius: 16px;
     font-size: 16px;
     cursor: pointer;
     transition: opacity 0.015s ease;
     }
.join-now-btn:hover{
     opacity: 0.95;
}
.join-now{
     margin-top: 35px;
}
.caption span{
     text-decoration: underline;
}
.getting-started-section{
     text-align: center;
     padding-top: 40px;
}
.getting-started-section div{
     font-size: 25px;
     font-weight: 500;
}
.get-started-bottom-container{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     text-align: center;
     margin-top: 35px;
}
.steps{
     border: 2px solid green;
     display: inline-block;
     padding: 10px 16px;
     border-radius: 24px;
     color: green;
     font-weight: bold;
     font-size: 20px;
}
.rewards-steps{
     padding-top: 25px;
     font-weight: 500;
     font-size: 18px;
}
.instructions{
    text-align: center;
    max-width: 382px;
    margin: 0 auto;
}
.instructions a{
     color: #008248;
}
.rewards-top-container h2{
     text-align: center;
}
.reward-points{
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
}
.reward-points a{
     margin: 30px 30px 20px;
     font-size: 25px;
     font-weight: 500;
     text-decoration: none;
     color: black;
}
.reward-points span{
     color: #9f8600;
     font-size: 15px;
}
.rewards-top-container{
     background-color: #f1f8f6;
     padding-top: 25px;
}
.rewards-bottom-container{
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     background-color: #d4e9e2;
     height: 270px;
}
.reward-image-container-left img{
     height: 200px;
}
.reward-info-right{
     width: 347px;
     margin-left: 70px;
}
.rewards-banner-container{
     margin-top: 100px;
}
.extras-caption {
     display: flex;
     justify-content: center;
}
.extras-caption p{
     text-align: center;
     width: 700px;
}
.endless-extras{
     text-align: center;
}
.extras-top-container{
     margin-top: 100px;
}
.extras-bottom-container{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     text-align: center;
     width: 100%;
     max-width: 1200px;
     margin: 50px auto 150px auto; 
     gap: 40px;
     justify-items: center;
}
.extras-bottom-container img{
     height: 110px;
}
.fun-freebies-container, .order-pay-ahead-container, .get-faster-container{
     width: 350px;
}
.extras-bottom-container a{
     color: #008248;
}